mqttServerConfigForm.jade
html
	body
		form.form-horizontal
			fieldset
				// Form Name
				legend MQTT Server Settings
				// Text input
				.form-group
					label.col-md-4.control-label(for='clientId') Client Id
					|   
					|   
					.col-md-4
						input#clientId.form-control.input-md(name='clientId', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Client Id
				// Text input
				.form-group
					label.col-md-4.control-label(for='address') Url Address
					|   
					|   
					.col-md-4
						input#address.form-control.input-md(name='address', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Url Address
				// Text input
				.form-group
					label.col-md-4.control-label(for='port') Port
					|   
					|   
					.col-md-4
						input#port.form-control.input-md(name='port', type='text', placeholder='', required='')
						|   
						span.help-block Port
				// Text input
				.form-group
					label.col-md-4.control-label(for='protocolId') Protocol Id
					|   
					|   
					.col-md-4
						input#protocolId.form-control.input-md(name='protocolId', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Protocol Id
				// Text input
				.form-group
					label.col-md-4.control-label(for='protocolVersion') Protocol Version
					|   
					|   
					.col-md-4
						input#protocolVersion.form-control.input-md(name='protocolVersion', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Protocol Version
				// Text input
				.form-group
					label.col-md-4.control-label(for='connectTimeout') Connect Timeout
					|   
					|   
					.col-md-4
						input#connectTimeout.form-control.input-md(name='connectTimeout', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Connect Timeout
				// Text input
				.form-group
					label.col-md-4.control-label(for='topics') Topics
					|   
					|   
					.col-md-4
						input#topics.form-control.input-md(name='topics', type='text', placeholder='', required='')
						|   
						span.help-block MQTT Topics
				// Multiple Radios
				.form-group
					label.col-md-4.control-label(for='radios') MQTT Client Mode
					|   
					.col-md-4
						.radio
							label(for='radios-0')
								input#radios-0(type='radio', name='radios', value='1', checked='checked')
								|       Debug
				// Button
				.form-group
					label.col-md-4.control-label(for='')
					|   
					.col-md-4
						button.btn.btn-success(id='', name='') Apply Changes

mqttServerConfigForm.html
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>MQTT Server Settings</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="clientId">Client Id</label>  
  <div class="col-md-4">
  <input id="clientId" name="clientId" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Client Id</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Url Address</label>  
  <div class="col-md-4">
  <input id="address" name="address" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Url Address</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="port">Port</label>  
  <div class="col-md-4">
  <input id="port" name="port" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Port</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="protocolId">Protocol Id</label>  
  <div class="col-md-4">
  <input id="protocolId" name="protocolId" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Protocol Id</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="protocolVersion">Protocol Version</label>  
  <div class="col-md-4">
  <input id="protocolVersion" name="protocolVersion" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Protocol Version</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="connectTimeout">Connect Timeout</label>  
  <div class="col-md-4">
  <input id="connectTimeout" name="connectTimeout" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Connect Timeout</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="topics">Topics</label>  
  <div class="col-md-4">
  <input id="topics" name="topics" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Topics</span>  
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">MQTT Client Mode</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Debug
    </label>
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-success">Apply Changes</button>
  </div>
</div>

</fieldset>
</form>
